{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    {% if signupsuccess%}
    <div id="message" class="message">
        {{signupsuccess}}
    </div>
    {% endif %}
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="{% url 'signup' %}" method="POST" autocomplete="off">
                {% csrf_token %}
                <h1>Create Account</h1>
                <div class="social-container">
                    <a class="social"><i class="fa fa-twitter"></i></a>
                    <a class="social"><i class="fa fa-google"></i></a>
                    <a class="social"><i class="fa fa-linkedin"></i></a>
                </div>
                <span>or use your email for registration</span>
                <input type="text" name="name" placeholder="Name" required />
                <input type="email" name="email" placeholder="Email" required />
                <input type="number" name="phone" placeholder="Phone" required />
                <input type="password" name="password" placeholder="Password" required />
                <button type="submit">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="{% url 'signin' %}" method="POST" autocomplete="off">
                {% csrf_token %}
                <h1>Sign in</h1>
                <div class="social-container">
                    <a class="social"><i class="fa fa-twitter"></i></a>
                    <a class="social"><i class="fa fa-google"></i></a>
                    <a class="social"><i class="fa fa-linkedin"></i></a>
                </div>
                <span>or use your account</span>
                <input type="text" name="signinemail" placeholder="Email" required />
                <input type="password" name="signinpassword" placeholder="Password" required />
                <a>Forgot your password?</a>
                <button>Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');

        signUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
        });

        signInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        
        $( document ).ready(function(){
            $('#message').fadeIn('slow', function(){
               $('#message').delay(3000).fadeOut(); 
            });
        });
        
    </script>
</body>
</html>